In [12]:
import pandas as pd
import io

In [13]:
s = """A,B,C,D
1,2,3,4
5,6,,8
9,10,11,
"""

In [15]:
df = pd.read_csv(io.StringIO(s))

In [20]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [21]:
df.dropna(axis=0)

   A  B    C    D
0  1  2  3.0  4.0

In [22]:
df.dropna(axis=1)

   A   B
0  1   2
1  5   6
2  9  10

In [25]:
s = """A,B,C,D
1,2,
,,,
4,5,6
"""

In [35]:
df = pd.read_csv(io.StringIO(s))

In [36]:
df

     A    B    C   D
0  1.0  2.0  NaN NaN
1  NaN  NaN  NaN NaN
2  4.0  5.0  6.0 NaN

In [30]:
# 全为空才会删除
df.dropna(how='all')

     A    B    C   D
0  1.0  2.0  NaN NaN
2  4.0  5.0  6.0 NaN

In [31]:
df.dropna(thresh=3)

     A    B    C   D
2  4.0  5.0  6.0 NaN

In [34]:
df.dropna(subset=['C'])

     A    B    C   D
2  4.0  5.0  6.0 NaN

In [37]:
import sklearn
sklearn.__version__

'0.19.1'

In [41]:
from sklearn.preprocessing import Imputer

In [44]:
print(df.values)
im = Imputer()
im.fit(df.values)

[[ 1.  2. nan nan]
 [nan nan nan nan]
 [ 4.  5.  6. nan]]

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [45]:
im.transform(df.values)

array([[1. , 2. , 6. ],
       [2.5, 3.5, 6. ],
       [4. , 5. , 6. ]])

In [46]:
s = """color,size,price,classlabel
green,M,10.1,class1
red,L,13.5,class2
blue,XL,15.3,class1
"""

In [48]:
df = pd.read_csv(io.StringIO(s))

In [51]:
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [55]:
df['size'] = df['size'].map({'M':1,'L':2,'XL':3})

In [56]:
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [57]:
df['classlabel'] = df['classlabel'].map({'class1':0,'class2':1})

In [58]:
df

   color  size  price  classlabel
0  green     1   10.1           0
1    red     2   13.5           1
2   blue     3   15.3           0

In [60]:
X = df.values[:,:3]

In [61]:
X

array([['green', 1, 10.1],
       ['red', 2, 13.5],
       ['blue', 3, 15.3]], dtype=object)

In [62]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(X[:,0])
X[:,0] = le.transform(X[:,0])

In [63]:
X

array([[1, 1, 10.1],
       [2, 2, 13.5],
       [0, 3, 15.3]], dtype=object)

In [65]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0])
ohe.fit(X)
xx = ohe.transform(X)

In [68]:
print(xx.toarray())

[[ 0.   1.   0.   1.  10.1]
 [ 0.   0.   1.   2.  13.5]
 [ 1.   0.   0.   3.  15.3]]